
name: learno
description: "Learno - AI-Powered Educational App for Kids"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.5.0

dependencies:
  flutter:
    sdk: flutter
  
  cupertino_icons: ^1.0.8
  
  http: ^1.2.0
  
  flutter_tts: ^3.8.5
  
  speech_to_text: ^7.0.0
  
  permission_handler: ^11.3.1
  
  shared_preferences: ^2.2.3
  
  uuid: ^4.4.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
  
  assets:
    - assets/images/

  fonts:
    - family: Recoleta
      fonts:
        - asset: assets/fonts/fonnts.com-recoleta-semibold.otf
          weight: 600
        - asset: assets/fonts/fonnts.com-recoletaalt-black.otf
          weight: 900
